<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='style.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link class="jsbin" href="{{ url_for('static',filename='jquery-ui.css')}}" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <script src="{{ url_for('static',filename='d3.v3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='myscript.js')}}"></script>
    <script src="{{ url_for('static', filename='imageMapResizer.min.js')}}"></script>
    <style type="text/css">

.chart {
  display: block;
  margin: auto;
  margin-top: 40px;
}

text {
  font-size: 11px;
}

rect {
  fill: none;
}
canvas
{
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}

  </style>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                 </button>
                <a class="navbar-brand" href="{{ url_for('index') }}"><span style="color:red;">XPO</span> Logistics</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
	    <ul class="nav navbar-nav navbar">
                    <li><a id="fade" href="{{ url_for('index') }}"	>Zip Code</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="fade" href="#"><button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-map-marker"></span> Map
        </button></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="body">
<div class="profile-image">
	<img src="static/Map_Data/usmap-c.jpg"  class="center" usemap="#mymap">
</div> 
<map name="mymap">
<div class="container">
<area class="circle" target="" alt="1" title="1" href="Map_Data/1.jpg" coords="963,187,1007,262" shape="rect" id="1">
<div class="middle">
    <div class="text"><img  width="200" height="200"  src="static/Map_Data/1.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  id="test" target="" alt="2" title="2" href="#" coords="943,312,963,321" shape="rect" >
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/2.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="3" title="3" href="#" coords="872,315,931,273" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/3.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="4" title="4" href="#" coords="841,332,923,364" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div  class="container">
<area  class="image"  target="" alt="5" title="5" href="#" coords="823,475,917,440" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/5.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="6" title="6" href="#" coords="826,480,885,515" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/6.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="7" title="7" href="#" coords="789,506,844,562" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/7.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="8" title="8" href="#" coords="816,580,875,641" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200"  src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="9" title="9" href="#" coords="753,286,793,342" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="10" title="10" href="#" coords="599,221,654,308" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image" target="" alt="11" title="11" href="#" coords="688,347,724,429" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="12" title="12" href="#" coords="623,383,685,459" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/4.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="13" title="13" href="#" coords="484,493,544,633" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/5.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="14" title="14" href="#" coords="552,521,636,631" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/8.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="15" title="15" href="#" coords="303,429,376,544" shape="rect">
<div class="middle">
    <div class="text"><img width="200" height="200" src="static/Map_Data/9.jpg"></div>
  </div>
</div>
<div class="container">
<area  class="image"  target="" alt="16" title="16" href="#" coords="180,315,244,486" shape="rect">
<div class="middle">
    <div class="text"><img  width="200" height="200" src="static/Map_Data/3.jpg"></div>
  </div>
</div>
</map>

    </div>
    </div>
      <div id="footer">
        
        <div class="hint"></div>
        
      </div>
    </div>

<script>

imageMapResize();

/*function myHover(element)
{
    var hoveredElement = element;
    var coordStr = element.getAttribute('coords');
    var areaType = element.getAttribute('shape');
    var src = element.getAttribute('href');
    
    element.style.backgroundImage= 'url(' + src + ')';
   // alert(src);
}

function myLeave()
{
    var canvas = byId('myCanvas');
    hdc.clearRect(0, 0, canvas.width, canvas.height);
}*/


</script>
</body>
</html>
